@font-face {
	font-family: "SF Pro Display";
    font-style: normal;
	src: local("SF Pro Display Regular")
    local("SFProDisplay-Regular"),
    url(/assets/fonts/SFProDisplay-Regular.ttf) format('ttf');
    font-display: swap;
}